[Desktop Entry]
Name=Wiki / Help
Comment=PantherX Hub
Exec=px-hub-gui
Icon=px-hub
Terminal=false
Type=Application
Categories=System;Documentation;
OnlyShowIn=LXQt;
MimeType=x-scheme-handler/px-desktop-wiki;