[Desktop Entry]
Name=Hub 
Comment=PantherX Hub
Exec=px-hub-gui
Icon=px-hub
Terminal=false
Type=Application
Categories=Network;
OnlyShowIn=LXQt;
MimeType=x-scheme-handler/px-desktop-wiki;